# vim turds
*.swp
tags
debian/.debhelper
debian/files
debian/source
debian/vector06sdl*
.gradle
android/build
*.os
*.obj
*.o
.*.fdd
build-i686-w64-mingw32/*
test/out/*
test/testlog*
test/testresult*

# PSP sound-mode test artifacts
psp/sound_mode_results/
psp/__pycache__/

# Local PPSSPP deployment config (git-ignored, machine-specific)
psp/deploy.mk
